<div class="contacto">
 <div>
            <h2>Contacto rapido</h2>
            <form action="" method="" class="formulario">
                <p>
                    <label for="nom">Nombre</label>
                    <input type="text">
                </p>
                <p>
                    <label for="ema">Email</label>
                    <input type="email">
                </p>
                <p>
                    <label for="tel">Telefono</label>
                    <input type="text">

                </p>
                <p class="mensajuli">
                    <label for="men">Mensaje</label>
                   <textarea name="Mensaje" id="men" ></textarea>

                </p>
                <p>
                    <input type="submit" value="Enviar">
                </p>

            </form>
        </div>
        <div class="datos">
            <h2>Otras formas de comunicacion</h2>
            <p>Tambien puede contactarnos por aca</p>
            <ul>
                <li>Telefono: 12534-34533</li>
                <li>mail:sdjajdnjdn@mfafms.com</li>
                <li>instagram</li>
                <li>facebook</li>
            </ul>

        </div>
        </div>