  <div>
            <img src="images/home/img01.jpg" alt="avion">
        </div>
        <div class="columnas">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sit quod libero maiores reiciendis, ad beatae autem aliquid consectetur fugit omnis mollitia accusantium et sint officia soluta nobis enim vitae.</p>
                
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente excelente</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>
            </section>

        </div>
