  <section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore incidunt nostrum vel fugit magnam quasi, sunt dolorem ad expedita odit ratione unde facilis nisi eius? At distinctio harum sapiente eum.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam laudantium modi recusandae id. Hic, eum repellendus quas earum numquam qui corrupti quisquam saepe suscipit at ducimus ullam sapiente adipisci?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex porro quasi distinctio quas? Quae facilis eius ut ad dolorum optio possimus tenetur odio quibusdam eum officiis, reiciendis placeat totam numquam.</p>
       </section>
       <section class="staff">
           <h2>Staff</h2>
           <div class="personas">
               <div class="persona">
                   <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                   <h5>Juan Gomez</h5>
                   <h6>Gerente Sistemas</h6>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta alias officia ratione. Velit harum nobis nostrum voluptatem et maxime, quaerat impedit odit. Assumenda placeat corrupti veniam dicta dolor maxime?</p>

               </div>
               <div class="persona">
                <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
                <h5>Rocio Gonzalez</h5>
                <h6>Gerente General</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta alias officia ratione. Velit harum nobis nostrum voluptatem et maxime, quaerat impedit odit. Assumenda placeat corrupti veniam dicta dolor maxime?</p>

            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
                <h5>Lucas Rodrigues</h5>
                <h6>Gerente</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta alias officia ratione. Velit harum nobis nostrum voluptatem et maxime, quaerat impedit odit. Assumenda placeat corrupti veniam dicta dolor maxime?</p>

            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                <h5>Monica Garza</h5>
                <h6>Comercio</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta alias officia ratione. </p>

            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                <h5>Lautaro Valle</h5>
                <h6>Servicios</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta alias officia ratione. Velit harum nobis nostrum voluptatem et maxime, quaerat impedit odit. Assumenda </p>

            </div>

           </div>

       </section>