   <h2>Novedades</h2>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corrupti repellat? Libero praesentium similique voluptatibus, vel animi nesciunt! Nulla saepe aperiam soluta aliquam qui necessitatibus obcaecati dolorem amet laborum consequuntur!</p>
            <hr/> 
        </div>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corrupti repellat? Libero praesentium similique voluptatibus, vel animi nesciunt! Nulla saepe aperiam soluta aliquam qui necessitatibus obcaecati dolorem amet laborum consequuntur!</p>
            <hr/> 
        </div>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corrupti repellat? Libero praesentium similique voluptatibus, vel animi nesciunt! Nulla saepe aperiam soluta aliquam qui necessitatibus obcaecati dolorem amet laborum consequuntur!</p>
            <hr/> 
        </div>